<%= simple_form_for @question do |f| %>
  <div>
    <%= f.input :price_range,
            as: :select,
            collection: ['$', '$$', '$$$', '$$$$', '$$$$$'],
            prompt: 'Select your budget',
            label: 'What’s your budget?' %>
  </div>

  <div>
    <%= f.input :number_of_people,
            as: :integer,
            input_html: { placeholder: 'Enter number of diners' },
            label: 'How many people are you eating with?' %>
  </div>

  <div>
    <%= f.input :current_mood,
            as: :string,
            input_html: { placeholder: 'e.g. Casual, Romantic, Family-Friendly, Trendy' },
            hint: "Describe the vibe you’re going for. One word is enough.",
            label: "What’s the mood of the restaurant you're looking for?" %>
  </div>

  <%= f.input :dietary_restrictions,
            as: :radio_buttons,
            collection: ['Vegetarian', 'Vegan', 'Gluten-Free', 'Pescatarian', 'None'],
            label: 'Do you have any dietary restrictions?',
            item_wrapper_tag: :div %>

  <div>
    <%= f.input :cuisine_type,
            input_html: { placeholder: 'e.g. Japanese, Contemporary, African, Fine-Dining' },
            label: 'What kind of cuisine are you craving?' %>
  </div>

  <div>
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>
