<div class="recommendation-page">
  <div class="recommendation-card">

    <h2 class="restaurant-name"><%= @question.restaurant&.name || "No match found" %></h2>
    <p class="location">
      <strong>Location:</strong> <%= @question.restaurant&.location %>
    </p>

    <p class="reasoning">
      <strong>Why:</strong> <%= @question.cleaned_ai_reasoning %>
    </p>

    <div class="question-buttons">
      <div>
        <%= button_to "Save to My Profile", save_booking_question_path(@question),
              method: :post,
              class: "btn-confirm" %>
      </div>
      <div>
        <%= link_to "Discard", question_path(@question),
              class: "btn-discard",
              data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>
      </div>
    </div>

  </div>
</div>
