
    <div class="container">
      <div class="d-flex align-items-center justify-content-center mb-5">
        <div class="card" style="width: 36rem;">
              <!-- card content -->
          <%= image_tag @restaurant.restaurant_image, class: 'card-img-top', alt: @restaurant.name %>

          <div class="card-body">
            <h5 class="card-title"><%= @restaurant.name %></h5>
            <p class="card-text"><%= @restaurant.description %></p>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Location:</strong> <%= @restaurant.location %></li>
            <li class="list-group-item"><strong>Cuisine:</strong> <%= @restaurant.cuisine_type %></li>
            <li class="list-group-item"><strong>Price Range:</strong> <%= @restaurant.price_range %></li>
          </ul>
        <div class="text-center">
          <%= link_to "Make it a memory", new_restaurant_review_path(@restaurant), class: "btn-discard" %>

         </div>

          <div class="card-body">

          </div>
        </div>

      </div>
    </div>
