
<div class="restaurant-container">
  <div class="restaurant-card">
    <%= image_tag @restaurant.restaurant_image.presence || "fallback.jpg", class: "restaurant-image", alt: @restaurant.name %>
      <div class="restaurant-card-heading">
        <h5 class="restaurant-card-title"><%= @restaurant.name %></h5>
        <p class="restaurant-card-subtitle"><%= @restaurant.description %></p>
      </div>
        <div class="restaurant-card-info">
          <p><strong>Location:</strong> <%= @restaurant.location %></p>
          <p><strong>Cuisine:</strong> <%= @restaurant.cuisine_type %></p>
          <p><strong>Price Range:</strong> <%= @restaurant.price_range %></p>
        </div>
      <div class="restaurant-card-button">
        <%= link_to "Make it a memory", new_restaurant_review_path(@restaurant), class: "btn-confirm" %>
      </div>
  </div>
</div>
