<div class="form-container">
  <div class="form-card text-center p-4">
    <h2>Rate <%= @restaurant.name %></h2>

    <%= simple_form_for [@restaurant, @review] do |f| %>
      <div class="align-items-center text-center">
        <%= f.input :rating,
            collection: (1..5).to_a,
            label: "Rate your experience",
            include_blank: false,
            input_html: {
              class: "form-select input-sm",
              data: { controller: "star-rating" }
            } %>

      </div>

      <div class="mb-3">
        <%= f.input :photos,
                    as: :file,
                    label: "Upload photos",
                    input_html: { multiple: true, class: "form-control input-sm rounded-pill"} %>
      </div>

      <div class="text-center">
        <%= f.button :submit, "Submit Review", class: "btn btn-confirm  rounded-pill px-5" %>
      </div>
    <% end %>
  </div>
</div>
